@font-face {
    font-family: 'myFont';
    src: url('myFont.ttf');
}

@font-face {
    font-family: 'myFontItalic';
    src: url('myFont-italic.ttf');
}

@font-face {
    font-family: 'fontAwesome';
    src: url('fontAwesome.otf');
    font-size: 11px;
}

* {
    box-sizing: border-box;
    font-family: "myFont", serif;
    font-size: 17px;
}

.italicText{
    font-family: 'myFontItalic';
}

body {
    margin-top: 5%;
    background-color: var(--pageBG);
    background-size: cover;
}

section {
    background-color: var(--terminalBG);
    width: 50%;
    opacity: 0.96;
    padding-left: 2%;
    margin-bottom: 1.2%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px var(--terminalShadow);
}

.halfBreak {
    margin-bottom: 1.5%;
}

.fullBreak {
    margin-bottom: 2%;
}


.link {
    color: var(--linkColor);
    text-decoration: none;
}

.link:hover {
    color: var(--linkHoverColor);
}


.tilde {
    color: var(--tildeColor);
    font-family: monospace;
}

.tilde::before {
    content: "~";
}

.arrow {
    color: var(--arrowColor);
    font-family: "fontAwesome";
    font-size: 14px;
}

.echo {
    color: var(--echoColor);
}

.name {
    color: var(--nameColor);
}

.welcome, .links {
    display: inline-block;
    color: var(--textColor);
}

.openAllAnchor {
    color: var(--openAllColor);
}


